Repository lab-antwerp-1/separation-of-concerns-starter-group-2, pull requests merged in 2022-03, with the labels that each got.

#24 Adding supermarket logo
  index.html
  planning/image/logoAH.png
Labels: deliverables, dev-strategy, For: Logo, HTML

#25 adding add button again
  client/data.js
  client/public/favicon.svg
  client/public/icon.svg
  client/public/logo.svg
  client/src/components/render-list.js
  client/src/components/sandbox.js
  client/src/handlers/add-product.js
  client/src/init/index.js
  client/src/listeners/listener-add.js
  client/src/logic/is-product-exist.js
  client/styles/index.css
  index.html
Labels: For: Add button

#26 remove button
  .eslintrc.json
  .vscode/settings.json
  client/src/handlers/remove-product.js
  client/src/init/index.js
  client/src/listeners/listener-remove.js
  client/src/logic/sandbox.js
  client/styles/other-file.css
Labels: For: Remove button

#27 edit button
  client/src/handlers/edit-product.js
  client/src/handlers/save-product.js
  client/src/init/index.js
  client/src/listeners/listener-edit.js
  client/src/listeners/listener-save.js
  client/src/logic/show-hide-elements.js
Labels: For: Edit button
